In [2]:
var = ['a',8,'ajit',25.26,]

In [3]:
var1 = ''
print(type(var1))

<class 'str'>

In [4]:
var2 = '[DS ,ML ,Python]'
print(type(var2))

<class 'str'>

In [7]:
var3 = ['DS','ML','Python']
print(type(var3))

<class 'list'>

In [10]:
var4 = 1
print(type(var4))

<class 'int'>

In [11]:
10/2

5.0

In [15]:
3%9

3

In [17]:
10//5

2

In [20]:
5**3

125

In [23]:
l = [1,'a',25.35,'ajit',2,5,3,2,8,10]
for i in l:
    print(type(i))
    print(i)

<class 'int'>
1
<class 'str'>
a
<class 'float'>
25.35
<class 'str'>
ajit
<class 'int'>
2
<class 'int'>
5
<class 'int'>
3
<class 'int'>
2
<class 'int'>
8
<class 'int'>
10

In [29]:
a = 30
b = 3
count = 0
while a % b == 0:
    a = a/b
    count += 1
if a > 1:
    print("number a is divisible b")
    print("it can be divided", count , "Times")

number a is divisible b
it can be divided 1 Times

In [32]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    if i%3 ==0:
        print("Divisible by 3")
    else:
        print("Not Divisible by 3")

Not Divisible by 3
Not Divisible by 3
Divisible by 3
Not Divisible by 3
Not Divisible by 3
Divisible by 3
Not Divisible by 3
Not Divisible by 3
Divisible by 3
Not Divisible by 3
Not Divisible by 3
Divisible by 3
Not Divisible by 3
Not Divisible by 3
Divisible by 3
Not Divisible by 3
Not Divisible by 3
Divisible by 3
Not Divisible by 3
Not Divisible by 3
Divisible by 3
Not Divisible by 3
Not Divisible by 3
Divisible by 3
Not Divisible by 3

In [36]:
list1 = [12,13,14]
list1[2] = 50
print(list1)

[12, 13, 50]

In [37]:
tup = {12, 13,13}
tup[2] = 50
print(tup)

TypeError: 'set' object does not support item assignment